<p id="notice"><%= notice %></p>

<div class="container">
<h1>Tho's Blog</h1>
<h3>My first Rails appkication for the CoderSchool!</h3>

<div class="row">
  <div class="col-sm-8">
    
    <%= render @articles %>

  </div>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
</div>